<section class="tasks container">
  <h2 class="tasks__title title title--main">Daily Task List <span class="tasks__title--icon icon-add"></span></h2>
  {{#conditional daily global}}
    <!--ALl STATES WITH NOTIFICATION MESSAGES-->

  <div class="tasks ">
    <ul class="tab-list tab-tasks">
      <li class="tab-list__item tab-list__item--active todo" data-pos="0">To Do</li>
      <li class="tab-list__item done" data-pos="1">Done</li>
    </ul>
    {{#if  isDeleted}}
      <ul class="tab-tasks">
        <li class="tab-list__item selectAll">Select All</li>
        <li class="tab-list__item deselectAll">Deselect All</li>
      </ul>
    {{/if}}
    {{#unless daily}}
    <div class="task-first">
      <!--SHOW MESSAGE ADD TASK-->
      <div class="task-first__wrapper messages">
        <p class="messages__text">
          Task added, <br>
          drag it to the top 5 in daily task list
        </p>
        <span class="messages__icon icon-arrow_circle"></span>
      </div>
    {{/unless}}

    <ul class="task-list ">
      {{#each daily}}
        <li class="task-list__item {{isDone
          status}} task-list__item--{{categoryId}} task-list__item--priority_{{priorityHelper
          priority}}" data-id={{id}}>
          {{#unless ../ isDeleted}}
            {{{date deadlineDate status}}}
          {{/unless}}
          {{#if ../ isDeleted}}
            <button class="task-list__delete task-list__delete--{{categoryId}} icon-trash"
                    data-category="{{categoryId}}"></button>
          {{/if}}

          <div class="task-list__text">
            <h3 class="task-list__title">{{title}}</h3>
            <p class="task-list__desc">{{description}}
            </p>
          </div>
          <div class="task-list__icons tooltip" data-hint="Go to Global List">
            <button class="task-list__edit icon-edit"></button>
          </div>
          <a class="task-list__priority">
            <span class="task-list__estimation">{{estimation}}</span>
            <span class="tooltip"></span>
          </a>
        </li>
      {{/each}}
    </ul>
    <!--GLOBAL-->
    <div class="global-block ">
      <div class="view-settings">
        <button class="tasks__link">Global List
          <!--add class icon-global-list-arrow-right to change direction-->
          <span class="tasks__link--arrow  icon-global-list-arrow-down"></span>
          <span class="tooltip"></span>
        </button>

        <ul class="tab-list tab-tasks {{#if isDone}}tab-tasks--done{{/if}}">
          <li class="tab-list__item tab-list__item--active priority" data-pos="0" data-filter="all">All</li>
          <li class="tab-list__item priority" data-filter="3" data-pos="1">Urgent</li>
          <li class="tab-list__item priority" data-filter="2" data-pos="2">Hight</li>
          <li class="tab-list__item priority" data-filter="1" data-pos="3">Middle</li>
          <li class="tab-list__item priority" data-filter="0" data-pos="4">Low</li>
        </ul>
      </div>

      {{#each global}}

        {{#if this}}
          {{#if  ../ isDeleted}}
            <ul class="tab-tasks">
              <li class="tab-list__item selectAll">Select All</li>
              <li class="tab-list__item deselectAll">Deselect All</li>
            </ul>
          {{/if}}
          <div class="global global--{{@key}}">
            <h3 class="global__title">{{@key}}</h3>

            <ul class="task-list ">
              {{#each this}}

                <li class="task-list__item task-list__item--{{categoryId}} {{isDone
                  status}} task-list__item--priority_{{priorityHelper
                  priority}}" data-id={{id}}>
                  {{#unless ../../ isDeleted}}
                    {{{date deadlineDate status}}}
                  {{/unless}}
                  {{#if ../../ isDeleted}}
                    <button class="task-list__delete task-list__delete--{{categoryId}} icon-trash"
                            data-category="{{categoryId}}"></button>
                  {{/if}}
                  <div class="task-list__text">
                    <h3 class="task-list__title">{{title}}</h3>
                    <p class="task-list__desc">{{description}}
                    </p>
                  </div>
                  <div class="task-list__icons">

                    <button class="task-list__up icon-arrows-up"></button>
                    <button class="task-list__edit icon-edit">
                      <span class="tooltip"></span>
                    </button>
                  </div>
                  <a class="task-list__priority">
                    <span class="task-list__estimation">{{estimation}}</span>
                    <span class="tooltip"></span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      {{/each}}

    </div>

    {{else}}
      <div class="tasks task-first ">
        <ul class="tab-list tab-tasks">
          <li class="tab-list__item tab-list__item--active todo" data-pos="0">To Do</li>
          <li class="tab-list__item done" data-pos="1">Done</li>
        </ul>
        <div class="task-first__icon task-first__icon--greet">
          <img src="/images/tomato-addv02.svg" alt="Add task" class="tasks-first__img">
        </div>
        <div class="task-first__wrapper messages">
          <p class="messages__text--added">
            You don’t have any tasks left. <br>
            Add new tasks to stay productive.
          </p>
        </div>
      </div>

  {{/conditional }}

</div>
</section>

