<table>
  <tr>
    <th>Date</th>
    <th>Urgent</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Failed</th>
  </tr>

  {{#each this}}
    <tr>
      <td>{{day}}</td>
      <td>{{urgent}}</td>
      <td>{{high}}</td>
      <td>{{middle}}</td>
      <td>{{low}}</td>
      <td>{{failed}}</td>
    </tr>
  {{/each}}
</table>
